
/* By default, there's almost no space between columns in a table. This just
 * adds a little to make a table in the "About" page more readable.
 */
table.about-table td,th {
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 1px;
  padding-bottom: 1px;
  border: 1px solid black;
}

table.about-table {
  margin-bottom: 1rem;
  margin-left: 2rem;
}

/* R Markdown defaults code to a pinkish color (#c7254e) */
code {
  color: black;
}
